@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.show-and-hide {
    animation: fadeOut 0.5s forwards;
    animation-delay: 3s;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
